# M1 technical test limits. These are not commercial plan definitions.
SHELLS_MEMORY_MAX=536870912
SHELLS_MEMORY_HIGH=469762048
SHELLS_TASKS_MAX=256
SHELLS_CPU_QUOTA=50%
SHELLS_DISK_SOFT_MB=4096
SHELLS_DISK_HARD_MB=4608
SHELLS_IPV6_IDENTITIES_MAX=4
SHELLS_SERVICES_MAX=4
